<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<p>
  <input type="checkbox" disabled <%= 'checked' if @task.completed %>>
  Task <%= 'not' unless @task.completed %> completed
</p>

<%= link_to 'Edit task', edit_task_path, class: 'btn' %>
<%= link_to 'Delete task', task_path(@task), method: 'delete', data: { confirm: "Are you sure?"}, class: 'btn' %>
<%= link_to 'Back', tasks_path, class: 'btn' %>
